<%- include ../contentMain/manageUsers.ejs %>
<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
        <% for (let i = 0; i < usersDetails.length; i++) { %>
            <div class="card">
                <div class="card-body">
                    <h4>Name : <small><%= usersDetails[i].name %> </small></h4>
                    <h4>Username : <small><%= usersDetails[i].username %></small></h4> 
                    <h4>Session time out (Minutes) : <small><%= usersDetails[i].sessionTimeOut %></small></h4>
                    <h4>Created data : <small><%= usersDetails[i].createdData %></small></h4> 
                    <h4>Permissions :<small>
                        <ul>
                    <% for (let j = 0; j < usersDetails[i].permissions.length ; j++) { %>
                        <li><%= usersDetails[i].permissions[j] %></li>
                    <% } %>
                        </ul>
                    <small>
                    </h4>
                    <a class="btn btn-primary" href="/users/edit/<%= usersDetails[i].id %>">Edit</a>
                    <a class="btn btn-danger" href="/users/delete/<%= usersDetails[i].id %>">Delete</a>
                </div>
            </div>
        <% } %>
    </div>
</div>