<%- include ./main.ejs %>

<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
        <% for (let i = 0; i < movies.length; i++) { %>
            <div class="card" >
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <img class="card-img-top img-thumbnail" src="<%= movies[i].image %>" alt="Responsive image">
                    </div>
                    <div class="col-md-8 col-sm-12 mt-3">
                        <h6>Subscriptions watched</h6>
                        <ul>
                            <% for (let k=0; k < movies[i].membersWatchedMovie.length; k++) { %>
                                <li><a href="subscriptions/<%= movies[i].membersWatchedMovie[k].memberId %>"><%= movies[i].membersWatchedMovie[k].memberName %></a> <%= movies[i].membersWatchedMovie[k].date %> </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                    <h4 class="card-title"><%= movies[i].name %> , <%= new Date(movies[i].premiered).getFullYear(); %></h4>
                    <p class="card-text">
                        genres: <% for (let j = 0; j < movies[i].genres.length ; j ++ ) { %>
                                <%= movies[i].genres[j] %>
                    <% } %>
                    </p>

                    <a class="btn btn-primary" href="/movies/edit/<%= movies[i]._id %>">Edit</a>
                    <a class="btn btn-danger" href="/movies/delete/<%= movies[i]._id %>">Delete</a>
            </div>
         <% } %>
    </div>
</div>